<h1>All Strategists</h1>

<ul>
  <% @strategists.each do |strategist|%>
    <li>
      <%= link_to strategist.name, strategist_path(strategist) %> -
      <%= strategist.location %>
          </li>
          <% end %>
        </ul>
    </li>
</ul>