<html>

body { display: center
}
<h1>Welcome</h1>
<div class='ui grey segment'>
<div class= 'ui button'>
<%= link_to "Sign up", signup_path %><br>
</div>
Or
<div class = 'ui button'>
<%= link_to "Log in", login_path %>
</div>

</html>